apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: docker.io/ahmed3sjsu/user-service:initial
          ports:
            - containerPort: 8081
          env:
            - name: DATABASE_URL
              value: postgresql://appuser:apppass@postgres-postgresql:5432/appdb?sslmode=disable
