apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: docker.io/ahmed3sjsu/auth-service:initial
          ports:
            - containerPort: 8082
          env:
            - name: USER_SERVICE_URL
              value: http://user-service
            - name: JWT_SECRET
              value: dev-secret-change-me
